body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    padding:20px;
    text-align:center;
}

h1{
    color:#2e7d32;
}

input,select{
    width:250px;
    padding:10px;
    margin:5px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    margin:5px;
}

button:hover{
    background:#1b5e20;
}

#result{
    margin-top:20px;
}

.card{
    .card{
    background:white;
    padding:18px;
    margin:15px auto;
    max-width:350px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    text-align:left;
    border-left:6px solid #2e7d32;
}

.card h4{
    margin-top:0;
    color:#2e7d32;
}

.card p{
    margin:8px 0;
    font-size:16px;
}
.latest-card{
    background:#2e7d32;
    color:white;
    padding:20px;
    border-radius:15px;
    margin:15px auto;
    max-width:350px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
}